body  {
    color:white;
    text-align:center;
    background-image: url("finger.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 60px;
    font-family: 'helvetica';
    font-weight: bold;
    text-align: left;

}

li {
  list-style-type: none;
}



.overall {

  background: rgba(150, 150, 150, 0.5);
  min-height: 100%;

}

.button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 75px;
    font-weight: bold;
    float:center;
    width: 80%
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
        transition: all 0.3s ease 0s;

}

.button:hover {
    background-color: black;
    padding: 50px;
    padding-right: 80px;
    padding-left: 80px;
    margin: 50px;
}

input {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
}


</style>
