body  {
    color:#fff;
    text-align:center;
    background-image: url("phone.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 30px;
    font-family: 'monoscope';

}

.overall {

  background: rgba(150, 150, 150, 0.5);
  min-height: 100%;
}
